.logo {
  padding: 20px 10px 10px;
  width: 90px;
}

.burger-menu,
.burger-button {
  display: none;
}

.active {
  display: block;
}

@media screen and (max-width: 600px) {
  .burger-button {
    background-color: transparent;
    border: none;
    font-size: 22px;
    display: block;
  }
  .burger-menu {
    left: 0%;
    top: 73%;
    position: absolute;
    border: 2px solid;
    box-sizing: border-box;
    width: 418px;
  }
  .burger-menu__content {
    text-align: center;
  }
  .burger-menu__content__list {
    list-style: none;
    padding: 20px;
  }
  .burger-menu__content__list__items {
    padding: 20px;
  }
  .burger-menu__content__list__items:hover {
    border-bottom: 1px solid black;
  }
}
@media screen and (max-width: 600px) {
  .user-icon,
.globe-icon,
.wishlist-icon,
.navbar {
    display: none;
  }
}